<html>
  <head>
    <title>Merge Bdd Mensuelle</title>
    <style>
      .container {
        width: 500px;
        clear: both;
      }

      .container input {
        width: 100%;
        clear: both;
      }
    </style>
  </head>
  <body>
    <h1>Upload files</h1>
    <div class="container">
      <form action="/resultatbdd" method="POST" enctype="multipart/form-data">
        <label for="file1"><h2>Bdd</h2></label>
        <input type="file" id="file1" name="file1" />
        <br /><br />
        <label for="file2"> <h2>Cumul month:</h2> </label>
        <input type="file" id="file2" name="file2" />
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <p>
      Click on the submit button, and wait, a result file will be downloaded.
    </p>
  </body>
</html>
